<template>
  <div>
    <img src="../assets/dfsfss.jpg" alt="..." style="width: 100%">
    <b-card id="contact-card">
      <h3>Полезные ссылки для учащихся в автошколе</h3>
      <ul>
        <li>Решение задач ПДД 2021
          <a href="http://www.pdd24.com/pdd-onlain" target="_blank">
            http://www.pdd24.com/pdd-onlain</a>
        </li>
        <li>
          Правила ПДД РФ 2021
          <a href="https://unit-car.com/docs/pdd.pdf" target="_blank">Скачать</a>
        </li>
        <li>
          Изменение правил ПДД в 2021
          <a href="http://www.pdd24.com/pdd/change-1-march-2021" target="_blank">http://www.pdd24.com/pdd/change-1-march-2021</a>
        </li>
        <li>
          Официальный сайт ГИБДД
          <a href="https://xn--90adear.xn--p1ai/" target="_blank">гибдд.рф</a>
        </li>
        <li>
          Вождение и обучение вождению автомобиля — статьи, рассказы, советы
          <a href="https://www.gazu.ru/driving/" target="_blank">
            https://www.gazu.ru/driving/</a>
        </li>
        <li>
          Как сдать экзамен в Гаи с первого раза
          <a href="https://www.tts.ru/blog/faq/kak-sdat-ekzamen-v-gai-s-pervogo-raza/" target="_blank">https://www.tts.ru/blog/faq/kak-sdat-ekzamen-v-gai-s-pervogo-raza/</a>
        </li>
      </ul>
    </b-card>
  </div>
</template>

<script>
export default {
  name: "Links"
}
</script>

<style scoped>
li {
  margin-bottom: 1em;
}
</style>